<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new posts</title>
  </head>
  <body>
    <form method="post" action="/posts">
      <input type="text" placeholder="enter username" name="username" /> <br />
      <br />
      <textarea
        name="content"
        placeholder="write anything"
        cols="30"
        rows="10"
      ></textarea>
      <br />
      <br />
      <button>sumbit</button>
    </form>
  </body>
</html>
